.select {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
}

.select:focus {
  outline: none;
  border-color: #0077cc;
  box-shadow: 0 0 0 2px rgba(0, 119, 204, 0.2);
}

.select option {
  background-color: #fff;
  color: #444;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.select label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.appContainer {
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: #f0f0f0;
}

.selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}